.me-body {
    padding: 10px 0;
}

.leapfrog-tag {
    color: #2ecc71;
    font-size: x-large;
}

.me-date {
    float: right;
}

.me-body_role {
    padding: 10px 0;
}

.strongdigital-tag {
    color: #4D02F0;
    font-size: x-large;
}

.me-body_education {
    padding: 10px 0;
}


.qut-tag {
    color: #009fe3;
    font-size: large;
}

.tp-tag {
    color: #EF0C1D;
    font-size: large;
}